@import "tailwindcss";

/* body {
} */

.sectionBase {
    width: full;
    height: full;
    padding: 10px;
}

.primary_bg {
    background-color: #e8640c0e;
}

.secondery_bg {
    background-color: #fef5bd;
}

.textcolor {
    color: #ea6a12;
}
.textcolor:hover {
    color: #d35f10;
}

.btn_bg {
    background-color: #ea6a12;
}

.btn_bg:hover {
    background-color: #d35f10;
}


@media screen and ( min-width: 768px) and ( max-width: 1023px ) {
    .sectionBase {
        padding: 12px;
    }
    
}

@media screen and (min-width: 1024px ) {
    .sectionBase {
        max-width: 1280px;
        padding: 16px;
    }
    
}